.cache
.settings
.project
.classpath
console.devmode.log
lift_test.db.h2.db
lift_test.db.lock.db
lift_test.db.trace.db
lift_proto.db.h2.db
lift_proto.db.lock.db
lift_proto.db.trace.db
bin/*
bin/**/*
lib_managed/*
lib_managed/**/*
target/*
target/**/*/
project/target/*
project/target/**/*/
project/project/target/*
project/project/target/**/*/
project/build/*
project/build/**/*
src/main/resources/props/**
!src/main/resources/props/default.props
!src/main/resources/props/default.log4j.xml
.idea
.idea_modules
projectFilesBackup
.ensime
.ensime_cache
/src/main/resources/props/suliatis.props
.cache-main
.cache-tests
/bin/
