@CHARSET "UTF-8";

.popup .summary .fragBar {
	transition: all 0.3s ease-out;
}

.fragBar, .openedPopup.popup .summary .frag .fragBar:hover, .projectsPage .taskName.taskNameInactive {
	transition: all 0.3s ease-out;
}

.fragBarHover, .timeLine .frag, .content .mainMenu li, .newTaskItemInput, #taskfilter {
	transition: all 0.3s ease-out;
}
