@CHARSET "UTF-8";

@import url('help.css');
.recover-description {
	font-weight: normal;
}

.ActualUserName {
	font-weight: bold;
}

.form-user {
	max-width: 500px;
	margin: auto;
}

.thin-page {
	max-width: 1000px;
	margin: auto;
}

.task-list-table td {
	padding: 4px!important;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.root .ui-widget-content {
	border: 0;
}

/* -----
 * Login screen new
 * ----- */

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .checkbox label {
	display: none;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input[type="submit"] {
	margin-bottom: 10px;
}

/* -----
 * Top-menu new
 * ----- */

.top-menu {
	background: #2fa4e7;
	background: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.top-menu a {
	color: white;
}

.top-menu .navbar-right .dropdown-toggle {
	padding-top: 5px;
	padding-bottom: 5px;
}

.top-menu .nav>li>a:focus, .top-menu .nav>li>a:hover {
	background-color: #178ACC;
}

.top-menu .navbar-nav li>span {
	color: white;
	position: relative;
	display: block;
	padding: 15px;
	background-color: #178ACC;
}

.top-menu .navbar-toggle .icon-bar {
	background-color: white;
}

.top-menu .navbar-toggle {
	border: 1px solid #178ACC;
}

.top-menu .nav .open>a, .top-menu .nav .open>a:focus, .top-menu .nav .open>a:hover {
  background-color: #178ACC;
}

/* -----
   jQuery
   -----*/
.ui-datepicker {
	z-index:100!important;
}

#dateSelector {
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

.ui-datepicker-inline {
	padding: 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	color: transparent;
}

.monthSelector .ui-datepicker-calendar {
	display: none;
}

.monthSelector > div {
	display: inline-block;
}

/*-------
  general 
  -------*/
body {
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	margin:0px 0px;
	padding: 0px;
}

.edit_error_class {
	padding-left: 5px;
	color: red;
	font-weight: bold;
}

.button-row {
	padding: 5px;
	margin: 10px 0;
}

input[type="text"] {
	font-family: monospace;
}

.messages {
	font-weight: bold;
}

.messages #lift__noticesContainer___error {
	color: red;
}

.messages #lift__noticesContainer___notice {
	color: green;
}

.DayText {
	width: 70px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}

.DefaultUserWarning {
	font-weight: bold; 
	color: red; 
	font-size: 18px;
	text-align: center;
	padding-bottom: 25px;
	padding-top: 10px;
}

.logo {
    padding: 5px;
    padding-right: 26px;
}

/* LoginBox, and user bar */
.login-error {
	text-align: center;
	color: red;
	padding-top: 5px;
	font-weight: bold;
}

.login-error ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.OfftimeOffsetInput {
	width: 50px;
	margin-left: 50px;
}

.day-pager-holder {
	margin-top: 10px;
}

/*------
  Client
  ------*/

/*Summary*/
.summary .frag .offTimeBar {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 43%,rgba(219,220,226,1) 46%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 52%,rgba(255,255,255,1) 56%);
	border-right: 1px solid rgba(184,186,198,1);
}

.summary *[data-hint]:hover:after {
	width: 500px;
	white-space: inherit;
}

.summary .name {
	font-weight: bold;
}

.summary .frag {
	border-left: 1px solid darkGray;
	height: 40px;
	margin-left: 19.5%;
	padding-left: 0.5%;
	padding-bottom: 3px;
	padding-top: 3px;
}

.frag .ProjectName {
	font-weight: bold;
	padding: 3px 5px 1px 5px;
	height: 24px;
	overflow: hidden;
	min-width: 500px;
}

.frag .TaskName {
	padding: 0 5px;
	min-width: 500px;
}

.summary .frag .fragBar {
	height: 100%;
	width: 100%;
}

.summary .frag .fragBar {
	width: 0%;
}

.summary .frag .fragBar {
	width: 100% !important;
}

.summary .frag .fragBar:hover {
	box-shadow: 0 0 5px #000000;
	opacity: 0.9;
}

.summary .fragLegend {
	float: left;
	padding-top: 6px;
	width: 20%;
}

.summary .fragLegend .data {
	white-space: nowrap;
	width: 95%;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
}

#tiePopupModeChange {
	position: absolute;
	right: 0;
	top: 50px;
}

#taskItemEditorPopup {
	width: 232px;
}

/*TaskItemGraph*/
.frag .Duration {
	white-space: nowrap;
}

.frag:hover .fragBar {
	cursor: pointer;
}

.frag:hover .fragBarHover:hover {
	display: none;
	z-index: -1000;
}

.frag:hover .fragBarHover {
	opacity: 0.9;
	position: absolute;
	z-index: 1000;
	cursor: pointer;
}

.fragBarHover {
	border: 1px solid black;
	left: 10px;
	right: 10px;
	opacity: 0;
	padding: 5px;
	position: absolute;
	top: -80px;
	z-index: 100;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-align: center;
	pointer-events: none;
}

.hiddenTask {
	display:none;
}

.TaskFilter {
	width: 100%;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.taskName:hover {
	background-color:#dddddd;
}

.taskName .specify-subtask {
	display: none;
	float: right;
	padding-right: 5px;
	cursor: pointer;
}

.specifiable-task .taskName:hover .specify-subtask {
	display: inline;
	line-height: 0;
}

.newTaskItemInput {
	display: inline;
	width:50px;
}
.tasksPage .tasksrow {
	margin-top: 10px;
}

.tasksPage .date-selectors {
	text-align: right;
}

.tasksPage #editorPopup {
	width: 80%;
}

.tasksPage .tab-content {
	padding: 15px 25px;
	border: 1px solid #ddd;
	border-top: 0;
	min-height: 105px;
}

.t0asksHeader {
	float: left;
	margin-top: 0px;
	margin-right: 12px;
	width: 350px;
	text-decoration: underline;
	padding: 3px 10px 3px 10px;
}

#taskItemAppenderMainHolder {
	position: relative;
}

.tasks {
	clear: both;
}

.timeLine .frag {
	float: left;
	height: 10px;
	height: 44px;
}

#taskItemLogMainHolder th {
	border: 0;
}

#taskItemLogMainHolder .taskColorIndicator {
	margin-left: 15px;
}

#taskItemLogMainHolder .projectColorIndicator {
	margin-left: 0;
	margin-right: 0;
	margin-top: 4px;
}

#tieselecttaskid {
	width: 190px;
}

#toggleDiagramTypeButton {
	position: absolute;
	right: 0px;
	top: -29px;
	width: 70px;
	height: 20px;
	padding: 0;
}

form.button {
	display: inline;
}

.statusbar-button-row {
	float: left;
	padding-left: 5px;
	padding-top: 5px;
}

.timeLine {
	margin: 45px 5px 15px 5px;
	height: 90px;
	position: relative;
}

.timeLine .fragBar {
	width: 100%;
	height: 55px;
	overflow: hidden;
}

.timeLine .frag:last-child .fragBar.noborder {
	background: linear-gradient(to right, rgba(184,186,198,1) 10%,rgba(255,255,255,0) 100%)!important;
	border-radius: 0 30px 30px 0;
}

.timeLine .fragText {
	position: relative;
	left: -11px;
	font-size: 11px;
	width: 30px;
	font-family: monospace;
	transform: rotate(-55deg);
}

.timeLine .fragBar.fragBarContinued {
	border-right: 3px dotted black !important;
}

.timeLine .fragBar.noborder {
	border: 0;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 42%,rgba(219,220,226,1) 42%,rgba(184,186,198,1) 44%,rgba(221,223,227,1) 44%,rgba(255,255,255,0) 44%);
}

.AddHelpContainer {
	float: right;
	position:relative;
	clear:both;
	height: 0px;
}

#pieholder {
	text-align: center;
}

.summaryMetrics td:first-child {
	font-weight: bold;
	padding-right: 10px;
	vertical-align: top;
}

.summaryMetrics {
	font-family: monospace;
	position: relative;
	margin: auto;
}

.summaryMetrics table {
	margin: auto;
}

.summaryMetrics .RealLeave{
	display: block;
}

.chartContainer {
	height: 60px;
}

.InlineCommandsForm.Pause {
	padding:0 42px 5px 0;
}

.InlineCommandsForm.Pause .glyphicon {
	font-size: 19px;
}

#taskItemLogMainHolder .glyphicon-pause {
	margin-left: 15px;
}

.InlineCommandsForm.Pause .btn {
	margin-left: 16px;
}

.InlineCommandsForm {
	display: inline-block;
	padding: 0px 4px 0px 1px;
	vertical-align: top;
}

.content .mainContent {
	padding: 10px 10px;
}

#taskList .taskColorIndicator {
	cursor: pointer;
	margin-top: 6px;
}

.taskColorIndicator {
	color:transparent;
	cursor: default;
	font-family: monospace;
	font-size: 10px;
	vertical-align: top;
	margin-top: 4px;
	display: inline-block;
	border-radius: 2px;
}

.projectColorIndicator {
	color:transparent;
	cursor: default;
	font-family: monospace;
	margin-right: 4px;
	font-size: 10px;
	vertical-align: top;
	margin-top: 6px;
	display: inline-block;
	margin-left: 35px;
	border-radius: 2px;
}

.content .task .tasksTaskName {
	font-style: italic;
}

.content .task:first-child {
	border-top: none;
}

.content .task.taskNoButtons form {
	display: none;
}

.content .task .taskName {
	font-weight: bold;
}

.content .tasks .task .taskName{
	padding: 10px 0px 15px 0px;
}

.content .task .taskDetails {
	font-style: italic;
}

.taskName_info{
	cursor: pointer;
	display: inline-block;
}

.tasksTaskDescription {
	display: block;
	font-size: 10px;
	font-weight: normal;
}

.selectedDay {
	margin-left: 30px;
	font-weight: bold;
	font-style: italic;
}

.content .statusBar {
	background: lightgray;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 10px;
	margin-bottom: 10px;
	min-height: 63px;
}

.statusBarCurrentTask {
	margin-right: 5px;
}

.statusBarCurrentTask .actualTaskName {
	font-weight: bold;
}

.statusBarCurrentTask .actualDescription {
	font-size: 80%;
	font-style: italic;
}

/*-------------
  Popup general 
  -------------*/
.popup {
	max-height: 80%;
	overflow-y: auto;
}

.backgroundPopup.openedBackgroundPopup {
	display: block;
	opacity: 0.8;
}

.backgroundPopup {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 1000;
	opacity: 0;
}

.popup.openedPopup {
	opacity: 1;
	display: block;
}

.popup {
	display: none;
	position: fixed;
	height: auto;
	width: auto;
	z-index: 1001;
	font-size: 13px;
	background-color: white;
	box-shadow: 0 0 70px #AAAAAA;
	padding: 20px;
	opacity: 0;
}

.popupClose {
	font-size: 14px;
	line-height: 14px;
	right: 6px;
	top: 4px;
	position: absolute;
	color: #AAAAAA;
	font-weight: 700;
	display: block;
	cursor: pointer;
}

/*-----
  Admin
  -----*/
.usersPage .userName {
	font-weight: bold;
}

.usersPage #editor input, .usersPage #editor select {
	display: block;
	margin-bottom: 10px;
	width: 225px;
}

.usersPage #editor input[type='submit'] {
	width: 50px;
}

.usersPage #editor input[type='checkbox'] {
	width: 15px;
}

.usersPage .userTable {
	width: 100%;
}

/*Projects*/
.projectsPage .dropdown-menu li a {
	color: black;
	font-style: normal;
}
.projectsPage .project,.projectsPage .task {
	margin-left: 20px;
	border: none !important;
}

.projectsPage .projectName {
	background: url("/images/project_icon.png") no-repeat scroll 0 0
		transparent;
	font-weight: bold;
	padding-left: 20px;
}

.projectsPage .projectName a {
	color: darkRed;
	text-decoration: none;
}
.projectsPage .project.selected, .projectsPage .task.selected {
	background: #178ACC;
	border-radius: 5px;
}

.projectsPage .addSubProject {
	font-weight: normal;
	font-style: italic;
}

.projectsPage a.addSubProject {
	color: black;
}

.projectsPage .taskName {
	background: url("/images/task_icon.png") no-repeat scroll 0 0
		transparent;
	color: darkBlue;
	padding-left: 20px;
	font-weight: normal !important;
}

.projectsPage .taskName a {
	color: darkBlue;
	text-decoration: none;
}

.projectsPage .inactive .name {
	font-style: italic;
	opacity: 0.5;
}

.projectsPage a {
	cursor: pointer;
}

/*
 *	TaskSheet
 */

.tasksheetTable {
	width: 100%;
	min-width: 1185px;
	border: 1px solid darkGray;
	border-collapse: collapse;
	table-layout: fixed;
	text-align:center;
	font-family: monospace;
}

.timesheetTable {
	margin: 10px auto;
}

.timesheetTable .QuickHelp {
	background: transparent;
	color: #219EE6;
	font-size: 13px;
	padding: 0;
}

.timesheetTable .QuickHelp[data-hint]:hover:after {
	width: 200px;
}

.timesheetTable th {
	white-space: nowrap;
}

.timesheetTable .table-footer{
	border-top: 2px solid black;
	font-weight: bold;
}

.diagramholder > div {
	width: 95%;
	text-align: center;
	margin: auto;
}

.diagramholder {
	text-align: center;
}

.tasksheetTable th {
	text-align: center;
}

.tasksheetTable th.taskname{
	width:160px;
}

.tasksheetTable td.taskFullName{
	font-style:italic;
	overflow:hidden;
	text-align:left;
	text-overflow: ellipsis;
}

.tasksheetTable td {
	padding: 5px;
	border: 1px solid darkGray;
}

.tasksheetTable .colWeekend {
	background: #DADADA;
}

.tasksheetTable .taskSum {
	background: rgb(250,250,210);
}

.tasksheetTable tr td:last-child {
	border-left: 2px solid black;
}

.tasksheetTable .rowSum {
	border-top: 2px solid black;
}

/*
	Timesheet
*/
.timesheetTable {
	border: 1px solid darkGray;
	border-collapse: collapse;
	table-layout: fixed;
	font-family: monospace;
}

.timesheetTable td {
	padding: 5px;
	border: 1px solid darkGray;
}

.timesheetTable th {
	padding: 5px;
	border-bottom: 2px solid black;
}

/*
	Felhasznaloi beallitasok
*/


.userPreferences .PreferenceGroup {
	font-weight: bold;
	padding-top: 50px;
	border-bottom: 1px solid black;
	padding-bottom: 9px;
	font-size: 15px;
	border: 0px;
}

.userPreferences > form > table > tbody > tr:first-child > td {
	padding-top: 5px;
}

.userPreferences .buttons {
	padding-top: 40px;
}

.userPreferences table {
	border-collapse: collapse;
}

.userPreferences td {
	border-collapse: collapse;
	border: 1px solid #add8e6;
	padding: 5px;
}

